html {
	height: 100%;
}

body {
	height: 100%;
	overflow: hidden;

	background-color: white;
}


#mood-grid {
	display: flex;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	background-color: white;
	border: 1px solid gray;
	padding: 50px;
}

.month-header {
	position: absolute;
	left: 50%;
	top: -33px;
	transform: translateX(-45%);

	font-size: 1.5em;
}

.mood-grid-col {
	display: flex;
	flex-direction: column;

	position: relative;
}

.mood-container {
	position: relative;
	width: 35px;
	height: 35px;

	margin: 3px;
}

.mood-box {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	width: 100%;
	height: 100%;

	background-color: rgb(200, 200, 200);

	transition: 0.25s width, 0.25s height;
}
.mood-box:hover {
	width: 135%;
	height: 135%;

	border: 1px solid darkgray;

	z-index: 1;
}
