<!DOCTYPE html>
<html lang="en">
<head>
	<title>${CONFIG.siteTitle}</title>

	<meta charset="utf-8">
	<meta name="description" content="This application allows you to track your daily mood conveniently, and displays all of your moods over the past year in a neat and organized chart.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/public/css/main.css">
</head>

<body>
<header>
	<h1 class="title"><a href="/">${CONFIG.siteTitle}</a></h1>
</header>

% if errors:
	<div id="errors">
	% for error in errors:
		<b>${error}</b>
	% endfor
	</div>
% endif
