<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mood Tracker</title>

	<meta charset="utf-8">
	<meta name="description" content="This application allows you to track your daily mood conveniently, and displays all of your moods over the past year in a neat and organized chart.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style>
		html, body {
			height: 100%;
			overflow-x: hidden;
			margin: 0;
		}

		body {
			height: 88%;
			margin-top: 7vh;
		}

		p {
			margin: 0;
			padding: 0;
		}
	</style>
</head>

<body>
<header style="display: flex; align-items: center; background-color: rgb(15, 15, 15); position: fixed; top: 0; width: 100%; height: 7vh">
	<h1 style="font-size: 1.5em; margin-left: 1.5vw; color: rgb(240, 240, 240)">Mood Tracker</h1>
</header>
