<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mood Tracker</title>

	<meta charset="utf-8">
	<meta name="description" content="This application allows you to track your daily mood conveniently, and displays all of your moods over the past year in a neat and organized chart.">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<style>
		html, body {
			height: 100%;
			overflow-x: hidden;
			margin: 0;
		}

		body {
			height: 94%;
		}

		p {
			margin: 0;
			padding: 0;
		}
	</style>
</head>

<body>
